@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 38, 44, 53;
    --foreground: 255, 255, 255, 0.9;
  }
} */

:root {
  --font-family: 'JetBrains Mono', 'Fira Code', ui-monospace, SFMono-Regular,
    Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace,
    -apple-system, monospace, sans-serif;
  --foreground: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
  --dark-bg: rgb(30 41 59);
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    font-family: var(--font-family);
  }
}
